.pagination {
  display: inline-block;
}
.pagination a {
  color: var(--text-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid var(--border);
  margin: 0 4px;
  border-radius: var(--radius);
}
.pagination a.active {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}
.pagination a:hover:not(.active) {
  background-color: var(--hover);
}
